.banner-container{
    position: relative;
    z-index: 1;
}
.bannerImg{
    position: absolute;
    top: 0;
    left: 40%;
    z-index: -1;
}
.bannerImg img{
    width: 350px;
    height: 550px;
    transform: rotate(5deg);
    margin-top: 20px;
}
.big-font h1{
    font-size: 105px;
    color: #f0f0f0;
    font-weight: normal;
}
.downBtn{
    font-size: 24px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: orange;
    color: white;
    text-decoration: none;
   
}
.downBtn:hover{
    color: whitesmoke;
}