.banner-container{
    position: relative;
    z-index: 1;

}
.sinceYear{
    color: #f0f0f0cc;
    font-size: 18px;
    font-weight: 200;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-top: 15px;
}
.bannerImg{
    position: absolute;
    top: -20px;
    left: 40%;
    z-index: -1;
}
.bannerImg img{
    width: 350px;
    height: 530px;
    transform: rotate(4deg);
    margin-top: 20px;
}

.downBtn{
    font-size: 24px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e65711;
    color: white;
    text-decoration: none;
   margin-top: 30px;
}

.downBtn:hover{
    color: whitesmoke;
}

@keyframes bannerSlideIn {
    0% {
      margin-left: -100%;
      width: 200%;
    }
  
   100% {
      margin-right: 0%;
      width: 100%;
    }
  }


@media (min-width: 0px) and (max-width: 420px){
    .bannerImg{
        left: 10%;
    }
    .bannerImg img{
        width: 280px;
        height: 350px;
    }
    .topBannerImg img{
        height: 400px;
    }
  }
@media (min-width: 421px) and (max-width: 550px){
    .bannerImg{
        left: 15%;
    }
    .bannerImg img{
        width: 300px;
        height: 400px;
    }
  }
@media (min-width: 550px) and (max-width: 749px){
    .bannerImg{
        left: 23%;
    }
    .bannerImg img{
        width: 330px;
        height: 400px;
    }
  }
@media (min-width: 750px) and (max-width: 900px){
    .bannerImg{
        left: 30%;
    }
    .bannerImg img{
        width: 350px;
        height: 450px;
    }
  }
@media (min-width: 901px) and (max-width: 1200px){
    .bannerImg{
        left: 35%;
    }

  }


