.teamsContainer{
    margin-top: 70px;
}
.allTeamBtn{
    text-decoration: none;
    font-size: 16px;
}
.teamContainer{
    position: relative;
    z-index: 10;
}
.teamImg{
    position: absolute;
    display: none;
    top: -100px;
    z-index: 99 !important;
    right: -55%;
}

.teamImg img{
    width: 200px;
    height: 300px;
}
.contactInfo{
    margin-left: 10px;
    z-index: 999;
}
.contactInfo h6{
    font-size: 22px;
}
.contactInfo p,a{
    font-size: 16px;
    margin-bottom: 0;
}
.contactInfo a{
    color: #f0f0f0;
    font-weight: bold;
}
.teamContainer:hover .teamImg{
    display: block;
}
.teamHr{
    z-index: -1;
}


@media (min-width: 0px) and (max-width: 600px){
    .ourTeamTitle{
        font-size: 40px !important;
    }
    .teamImg{
        right: -30%;
    }
    .teamImg img{
        width: 150px;
        height: 200px;
    }
    .contactInfo p,a{
        font-size: 14px;
        margin-bottom: 0;
    }
  }
@media (min-width: 601px) and (max-width: 991px){
    .teamImg{
        right: -30%;
    }
    .teamImg img{
        width: 180px;
        height: 250px;
    }
  }