.teamsContainer{
    margin-top: 70px;
}
.allTeamBtn{
    text-decoration: none;
    font-size: 16px;
}
.teamContainer{
    position: relative;
    z-index: 10;
}
.teamImg{
    position: absolute;
    display: none;
    top: -100px;
    z-index: 999999999999999999999999999999999999999999999 !important;
    right: -55%;
}
.teamImg p{
    max-width: 250px;
    padding: 0 10px;
    z-index: 1;
}
.teamImg img{
    width: 200px;
    height: 300px;
}
.teamContainer:hover .teamImg{
    display: block;
}
.teamHr{
    z-index: -1;
}


@media (min-width: 0px) and (max-width: 600px){
    .ourTeamTitle{
        font-size: 40px !important;
    }
    .teamImg{
        right: -42%;
    }
    .teamImg p{
        display: none;
    }
  }
@media (min-width: 601px) and (max-width: 991px){
    .teamImg{
        right: -30%;
    }
    .teamImg img{
        width: 180px;
        height: 250px;
    }
  }