
.expertiseInfo p{
    color: #f0f0f0;
    font-size: 19px;
    margin-top: 40px;
    max-width: 600px;
}
.expertiseImg{
    height: 500px;
}
@media (min-width: 0px) and (max-width: 649px){
    .expertiseInfo h1{
        font-size: 40px;
    }
    .expertiseInfo h2{
        font-size: 32px;
    }
}