
.navbarMenu{
    margin-bottom: 100px;
}
#navbar {
    background-color: #212426; 
    position: fixed; 
    top: 0; 
    min-height: 90px;
    width: 100%; 
    transition: top 0.3s;
    border-bottom: 1px solid #f0f0f0;
    z-index: 9999999;
  }
.logoContainer{
    position: relative;
}
.header-logo{
    width: 150px;
    height: 28px;
}
.betaLive{
    position: absolute;
    top: 0;
    margin-left: 3px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    font-family: 'IBM Plex Sans', sans-serif;
}
.header-menu{
    display: flex;
    align-items: center;
}
.header-menu a{
    color: #f0f0f0;
    margin-left: 50px;
    font-size: 16px;
    text-decoration: none;
}
.header-menu a:hover{
    color: #e65711;
}
.header-menu:last-child {
    margin-right: 0;
}
.active{
    font-weight: 400;
    color: #e65711 !important;
}

nav .nav-link{
    color: #f0f0f0 !important;
}
.clarexDropdown a{
    padding: 0 !important;
}
.dropdown-menu {
    position: absolute;
    width: 350px;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    text-align: left;
    list-style: none;
    background-color: rgb(33 36 38);
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}
.dropdownItem{
    padding: 0px 30px;
}

.dropdownItem span{
    display: block;
    color: #f0f0f0cc;
    font-size: 12px;
}
.dropdownItem p{
    font-size: 16px;
}
.dropdownItem a{
    margin: 0;
}
.dropdownIcon{
    width: 15px;
    display: none;
}
.dropdownItem:hover .dropdownIcon{
    display: block;
}

/* bootstrap clarex .dropdown-item */
.dropdown-item {
    display: inline;
}


#navbarMenu{
    animation: navbarMenu .5s ease-in-out 1;
}
@keyframes navbarMenu {
    0% {
      visibility: hidden;
    }
    25%{
      visibility: hidden;
    }
    50%{
    visibility: hidden;
    }
    75%{
     visibility: hidden;
    }
    98%{
        visibility: hidden;
    }
    100% {
    }
  }

@media (min-width: 0px) and (max-width: 767px){
    .header-menu{
        display: flex;
        align-items: start;
        justify-content: left;
        margin-top: 30px;
    }
    .header-menu a{
        margin-left: 0px;
        margin-bottom: 5px;
    }
    .dropdown-menu{
        width: 280px;
    }
    .dropdownItem{
        padding: 0px 10px;
    }
  }