
.officeInfo{
    border-left: 1px solid #f0f0f0;
    padding-left: 20px;
}
.contactOffice{
    padding: 10px 0;
}
.contactOffice h5{
    font-size: 24px;
}
.contactOffice p{
    color: #f0f0f0cc;
    font-size: 17px;
    margin-bottom: 0;
}
.contactOffice .phone{
    text-decoration: underline;
}
.inputField label{
    color: #f0f0f0;
    font-weight: 700;
    margin-top: 20px;
}
.inputField input{
    height: auto;
    width: 100%;
    margin-bottom: 0px;
    padding: 0.8em 1em 0.8em 0.2em;
    border-style: none none solid;
    border-width: 1px;
    border-color: #000 #000 #f0f0f0;
    background-color: transparent;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #f0f0f0;
    font-size: 1.2em;
    font-weight: 300;
}
.inputField select{
    height: auto;
    width: 100%;
    margin-bottom: 0px;
    padding: 0.8em 1em 0.8em 0.2em;
    border-style: none none solid;
    border-width: 1px;
    border-color: #000 #000 #f0f0f0;
    background-color: #212426;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #f0f0f0;
    font-size: 1.2em;
    font-weight: 300;
}
.inputField textarea{
    height: auto;
    width: 100%;
    margin-bottom: 0px;
    padding: 0.8em 1em 0.8em 0.2em;
    border-style: none none solid;
    border-width: 1px;
    border-color: #000 #000 #f0f0f0;
    background-color: transparent;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #f0f0f0;
    font-size: 1.2em;
    font-weight: 300; 
}

.submitBtn{
    width: 6.4em;
    height: 6.4em;
    margin-top: 2em;
    padding: 0px;
    border-radius: 200%;
    /* background-color: #64a2ec; */
    background-color: #e65711;
    -webkit-transition: background-color 250ms ease;
    transition: background-color 250ms ease;
    font-family: Syne, sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
}