
.clarexImg img{
    width: 100%;
    margin-top: -100px;

    /* animation-duration: 1.7s;
    animation-name: clarexImgSlideIn;
    animation-iteration-count: 1; */
}
.clarexTitle h1{
    line-height: 110px;
}
.clarexDescription{
    margin-top: 25px;
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: normal;
}
 
@keyframes clarexImgSlideIn {
    0% {
      margin-left: -600%;
      width: 200%;
    }
  
   100% {
      margin-right: 0%;
      width: 100%;
    }
  }


@media (min-width: 0px) and (max-width: 500px){
    .clarexTitle h1{
        font-size: 43px;
        line-height: 50px;
    }
    .clarexDescription{
        margin-top: 15px;
        font-size: 24px;
    }
}
@media (min-width: 500px) and (max-width: 768px){
    .clarexTitle h1{
        font-size: 55px;
        line-height: 60px;
    }
    .clarexDescription{
        margin-top: 15px;
        font-size: 24px;
    }
}
@media (min-width: 768px) and (max-width: 1200px){
    .clarexTitle h1{
        font-size: 83px;
        line-height: 80px;
    }

    .clarexDescription{
        margin-top: 20px;
    }
}

@media (min-width: 0px) and (max-width: 992px){
    .clarexImg img{
        margin-top: 0px;
    }
}