.expertises{
    display: flex;
    align-items: center;
}
.expertise-title{
    position: relative;
    z-index: 1;
}
.expertiseImg{
    width: 210px;
    height: 230px;
    position: absolute;
    top: -50px;
    left: 20%;
    transform: rotate(-2deg);
    z-index: -1;
    display: none;
}
.expertiseBtn{
    display: none;
}
.expertises:hover .expertiseImg{
    display: block;
}
.expertises:hover .expertiseBtn{
    display: block;
}

@media (min-width: 0px) and (max-width: 600px){
    .expTitle{
        font-size: 40px !important;
    }
  }
@media (min-width: 0px) and (max-width: 991px){
    .expertises:hover .expertiseImg{
        display: none;
    }
  }
