.expertises{
    display: flex;
    align-items: center;
}
.expertise-title{
    position: relative;
    z-index: 1;
}
.expertises .expertiseImg{
    width: 210px;
    height: 230px;
    position: absolute;
    top: -50px;
    left: 20%;
    transform: rotate(-2deg);
    z-index: -1;
    display: none;
}
.expertiseBtn{
    display: none; 
}
.expertises:hover .expertiseImg{
    display: block;
}
.expertises:hover .expertiseBtn{
    display: block;
}
.downBtn{
    font-size: 24px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e65711;
    color: white;
    text-decoration: none;
   margin-top: 30px;
   cursor: pointer;
}

.downBtn:hover{
    color: whitesmoke;
}

@media (min-width: 0px) and (max-width: 600px){
    .expTitle{
        font-size: 40px !important;
    }
  }
@media (min-width: 0px) and (max-width: 991px){
    .expertises:hover .expertiseImg{
        display: none;
    }
  }
