.contactUs{
    background-color: #f0f0f0;
    padding: 120px 0;
}
.contactUs p{
    color: #262421;
}
.constUsTitle{
    color: #262421 !important;
}
.contactUsBtnContainer{
    display: flex;
    justify-content: center;
}
.contactUsBtn{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactUsBtn a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: 700;
}

@media (min-width: 0px) and (max-width: 749px){
    .contactUsBtnContainer{
        display: flex;
        justify-content: left;
        margin-top: 50px;
    }
  }