.contactUs{
    background-color: #f0f0f0;
    padding: 120px 0;
}
.contactUs p{
    color: #262421;
}
.constUsTitle{
    color: #262421 !important;
}
.contactUsBtnContainer{
    display: flex;
    justify-content: center;
}

.contactUsBtn a{
    background-color: #e65711;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 8em;
    height: 8em;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 200px;
    font-size: 1.25em;
    text-decoration: none;
    color: white;
    transition: all 0.7 ease-out;
    font-weight: 600;
}


@media (min-width: 0px) and (max-width: 749px){
    .contactUsBtnContainer{
        display: flex;
        justify-content: left;
        margin-top: 50px;
    }
  }