.about-title .who{
    margin-left: 25%;
}
.about-title .weAre{
    margin-left: 50%;
}
.about-text{
    max-width: 420px;
    text-align: justify;
}
.text-color p{
    color: #F0F0F0CC;
    font-size: 18px;
}
.aboutHr{
    margin-top: 100px;
}

/* key-figures */
.keyFigure{
    display: none;
}
.key-figures{
    transform:  rotate(-60deg);
}
.key-figures h1{
    line-height: 85px;
}
.min-text h2{
    font-size: 55px;
    color: #F0F0F0;
}

@media (min-width: 0px) and (max-width: 768px){
    .about-title .who{
        margin-left: 0;
    }
    .about-title .weAre{
        margin-left: 0;
        margin-bottom: 20px;
    }
    .about-text{
        max-width: 100%;
        text-align: justify;
        margin: 0 !important;
        padding: 0 !important;
    }
    .keyFigure{
        display: block;
        margin-bottom: 20px;
    }
    .key-figures{
        display: none;
    }
  }