@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;1,400&family=Syne:wght@400;500;600&display=swap');

/******************************
 common 
 *****************************/
 *{
   margin: 0;
   padding: 0;;
 }
h1,h2,h3,h4,h5,h6{
  color: #f0f0f0;
  font-family: 'Syne', sans-serif;
}
.mainSection{
  padding: 90px 0;
}

.big-font h1{
  font-size: 105px;
  color: #f0f0f0;
  line-height: 85px;
}
.big-font h2{
  font-size: 65px;
}
.big-font h3{
  font-size: 33px;
}
.big-font h5{
  font-size: 24px;
}
p{
  font-size: 18px;
  color: #f0f0f0cc;
  font-family: 'IBM Plex Sans', sans-serif;
}
hr{
  background: #f0f0f0 !important;
}
.backBtn{
  z-index: 10000000000000000;
}
.linkBtn{
  font-family: Syne, sans-serif;
    font-size: 23px;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-decoration: none;
    text-transform: uppercase;
    color: #f0f0f0;
    cursor: pointer;
}
.linkBtn img{
  height: 24px;
}
.linkBtn:hover{
  color: #f0f0f0cc;
}
.downLinkImage{
  width: 40px;
}

/* loading animation  */
.rootFileAnimation{
  animation: rootFileAnimation .2s ease-in-out 1;
}
.loadingPicture{
  width: 250px;
  height: 350px;
  background: #e8e8e8;
  border-radius: 3px;

  animation: loadingPage 2s ease-in-out 1;
}

h1,h2,h3,h4,h5,img,a{
  animation: allHidden .25s ease-in-out 1;
}

@keyframes rootFileAnimation {
  0% {
    margin-top: 200%;
  }
  25%{
    margin-top: 70%;
  }
  50%{
    margin-top: 50%;
  }
  75%{
    margin-top: 30%;
  }
  85%{
    margin-top: 20%;
  }
  90%{
    margin-top: 15%;
  }
  95%{
    margin-top: 10%;
  }
  98%{
    margin-top: 5%;
  }
  100% {
  }
}
@keyframes loadingPage {
  0% {
    width: -200%;
    margin-left: -200%;
  }
  50%{
    width: -100%;
    transform: rotate(7deg);
  }
  100% {
    transform: rotate(3deg);
  }
}
@keyframes allHidden {
  0% {
    visibility: hidden;
  }
  50%{
    visibility: hidden;
  }
  99% {
    visibility: hidden;
  }
}





/* responsive  */
@media (min-width: 0px) and (max-width: 649px){
  .big-font h1{
    font-size: 3em;
    line-height: 50px;
  }
  .big-font h2{
    font-size: 2rem;
  }
  .big-font h3{
    font-size: 1.5rem;
  }
  .linkBtn{
    font-size: 18px;
  }
.loadingPicture{
  width: 130px;
  height: 200px;
}
  
}
@media (min-width: 650px) and (max-width: 800px){
  .big-font h1{
    font-size: 3.4em;
    line-height: 60px;
  }
  .big-font h2{
    font-size: 2.8rem;
  }
  .loadingPicture{
    width: 160px;
    height: 240px;
  }
  
}
@media (min-width: 801px) and (max-width: 1000px){
  .big-font h1{
    font-size: 4.2em;
  }
  .big-font h2{
    font-size: 3.2rem;
  }
}
@media (min-width: 1001px) and (max-width: 1200px){
  .big-font h1{
    font-size: 5.6em;
  }
}
@media (min-width: 1201px) and (max-width: 1400px){
  .big-font h1{
    font-size: 6em;
  }
}
