
.cardIndex{
    font-family: none;
}
.expertise-card{
    background-color: #f0f0f0;
    padding: 30px 60px 60px;
    margin: 25px 10px;
    border-radius: 3px;
}
.expertise-card h1{
    padding-bottom: 16px;
    font-size: 65px;
    color: #212426;
    line-height: 60px;
}
.expertise-card p{
    font-size: 18px;
    margin-top: 20px;
    text-align: justify;
    color: #212426;
}


@media (min-width: 0px) and (max-width: 449px){
    .expertise-card{
        background-color: #f0f0f0;
       padding: 20px 35px 35px;
        margin: 15px 5px;
    }
    .expertise-card h1{
        font-size: 35px;
        line-height: 35px;
    }
    .expertise-card p{
        font-size: 15px;
        margin-top: 0px;
    }
  }
@media (min-width: 450px) and (max-width: 1200px){
    .expertise-card{
        background-color: #f0f0f0;
       padding: 20px 35px 35px;
        margin: 15px 5px;
    }
    .expertise-card h1{
        font-size: 50px;
        line-height: 45px;
    }
  }

  @media (min-width: 992px) and (max-width: 1800px){
    #cardIndex2, #cardIndex4, #cardIndex6, #cardIndex8, #cardIndex10, #cardIndex12, #cardIndex14{
        margin-top: 3rem;
    }
    .expertise-card{
        margin: 0px 10px;
    }
  }