
.storyInfo{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.storyInfo .rightInfo{
    text-align: end;
}
.storyImg img{
    height: 450px;
}
.storyYear{
    color: #f0f0f07a !important;
    margin-bottom: 20px;
    font-family: none;
}
.navStoryContainer{
    position: fixed;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    z-index: 20;
    border-top: 1px solid #f0f0f0;
    background-color: #212426;
}
.navStory{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.navStory:first-child {
    border-left: 1px solid #f0f0f0;
}
.navStoryItem{
    padding: 1em 1.5em;
    border-right: 1px solid #f0f0f0;
    -webkit-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
    text-decoration: none;
}