
.storyInfo{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.singleStory{
    position: sticky;
    top: 0;
}
.storyInfo .rightInfo{
    text-align: end;
}
.storyImg img{
    height: 450px;
}
.storyAbout{
    color: #f0f0f07a !important;
    margin-bottom: 20px;
}
.navStoryContainer{
    position: fixed;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    z-index: 20;
    border-top: 1px solid #f0f0f0;
    background-color: #212426;
}
.navStory{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
}
.navStory:first-child {
    border-left: 1px solid #f0f0f0;
}
.navStoryItem{
    padding: 1em 1.5em;
    border-right: 1px solid #f0f0f0;
    text-decoration: none;
}
.navStoryItem a{
    text-decoration: none;
}
.navStoryItem h5{
    font-family: none;
}
.navStoryItem p{
    font-size: 16px;
}

.scrollHeader {
    position: fixed;
    bottom: 2%;
    /* z-index: 100; */
    width: 100%;
  }
  
  /* The progress container (grey background) */
  .progress-container {
    width: 100%;
    height: 100px;
    display: none;
  }
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 5px;
    background: #e65711;
    width: 0%;
  }

@media (min-width: 0px) and (max-width: 991px){
    .navStoryContainer{
        display: none;
    }
    .progress-bar{
        display: none;
    }
  }
@media (min-width: 991px) and (max-width: 20000px){
    .navStoryContainer{
        display: none;
    }
    .ourStory:hover .navStoryContainer{
        display: block;
    }
    .ourStory:hover .progress-container{
        display:  block;
    }
    .singleStory h1{
        font-size: 70px;
    }
    .singleStory h2{
        font-size: 45px;
    }
  }