


/* blog */
.blogContainer{
    padding: 40px 30px;
    border: 1px solid white;
    margin: 20px 0;
    position: relative;
    z-index: 1;
}
.blogContainer h3{
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 33px;
}
.detailsBtn{
    margin-top: 90px;
}
.blogBgImage{
    display: none;
}
.blogBgImage img{
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: -1;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.blogContainer:hover .blogBgImage{
    display: block;
}
.blogContainer:hover{
    background-color: rgba(33, 36, 38, 0.6);
    z-index: 999;
}

  /* blog details  */
  .blogDetails img{
    margin-top: 20px;
  }
  .blogDetails h2{
      margin-top: 30px;
      margin-bottom: 20px;
  }
  .blogDetails h3{
      font-size: 36px;
      margin-top: 30px;
      margin-bottom: 20px;
  }

/***************************************
 slider blog 
 **************************************/

  .slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    padding-top: 20px;
    margin-top: 30px;
}

  .slick-prev, .slick-next{
    line-height: 0;
    /* position: absolute; */
    top: 0 !important;
    display: block;
    width: 100px !important;
    height: 60px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev{
    left: 85% !important;
}
.slick-next{
    left: 92%;
}