


/* blog */
.blogContainer{
    padding: 40px 30px;
    border: 1px solid white;
    margin: 20px 0;
    position: relative;
    z-index: 1;
}
.blogContainer h3{
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 33px;
}
.detailsBtn{
    margin-top: 90px;
}
.blogBgImage{
    display: none;
}
.blogBgImage img{
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: -1;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    
}
.blogContainer:hover .blogBgImage{
    display: block;
    opacity: .6;
}

  /* blog details  */
  .blogDetails img{
    margin-top: 20px;
  }
  .blogDetails h2{
      margin-top: 30px;
      margin-bottom: 20px;
  }
  .blogDetails h3{
      font-size: 36px;
      margin-top: 30px;
      margin-bottom: 20px;
  }

/***************************************
 slider blog 
 **************************************/

  .slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    padding-top: 20px;
    margin-top: 30px;
}

  .slick-prev, .slick-next{
    line-height: 0;
    /* position: absolute; */
    top: 0 !important;
    display: block;
    width: 100px !important;
    height: 60px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev{
    left: 85% !important;
}
.slick-next{
    left: 92%;
}

@media (min-width: 0px) and (max-width: 400px){
    .slick-prev{
        left: 65% !important;
    }
    .slick-next{
        left: 80%;
    }
    .blogContainer h3{
        margin-top: 0px;
        margin-bottom: 20px;
        font-size: 18px;
    }
    .blogContainer p{
        font-size: 15px;
    }
    .detailsBtn{
        margin-top: 40px;
    }
  }
@media (min-width: 401px) and (max-width: 749px){
    .slick-prev{
        left: 65% !important;
    }
    .slick-next{
        left: 80%;
    }
    .blogContainer h3{
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 22px;
    }
    .detailsBtn{
        margin-top: 40px;
    }
  }
@media (min-width: 750px) and (max-width: 900px){
    .slick-prev{
        left: 65% !important;
    }
    .slick-next{
        left: 80%;
    }
    .blogContainer h3{
        margin-top: 20px;
        margin-bottom: 50px;
        font-size: 24px;
    }
  }